
$white: #fff;
$font-family: "Open Sans";
$yellow: #eeb501;
$black: #000;

.listStyleNone{
	list-style-type: none;
}


.text-decoration{
	text-decoration: none
}

.decorationNone{
	 text-decoration: none;
}

.button:hover {
    background-color: $black;
    text-decoration: none;
    color: $yellow;
    border-color: $yellow;
}

.buttons {
    text-transform: uppercase;
    font-size: 16px;
    font-family: $font-family;
    color: $white;
}

.button {
    border: 1px solid #fff;
    width: 208px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: inline-block;
    color: $white;
    text-align: center;
}
.ironMan{
	background-image: url(../img/background_iron.png);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 30px;
	padding-bottom: 40px;
	overflow: visible;
	position: relative;
	.menu ul li a{
	  font-size: 20px;
	  font-family: $font-family;
	  color: $white;
	  text-transform: uppercase;
	  margin-right: 20px;
	}

	.menu ul li{
		float: left;
	}
	.ironManImg{
		margin-left: -60px;
		margin-top: 67px;
		width: 100%;
		height: auto;
	}

	.ironBlock{
		margin-bottom: -150px;
	}

	  .menu ul .mainButton{
		margin-right: -30px;
		float: right;
		position: absolute;
		right: 0.1%;
	}  

	.ironContent{
		margin-top: 114px;
    	margin-right: -140px;
	}
	.ironTitle{
		  font-size: 68.677px;
		  font-family: $font-family;
		  color: $white;
		  line-height: 0.8;
	  }
	.ironTitleOrange{
	  font-size: 94.221px;
	  font-family: $font-family;
	  color: $yellow;
	  line-height: 0.8;
	  font-weight: 800;
	}
	.ironText{
	  font-size: 20px;
	  font-family: $font-family;
	  color: $white;
	  margin-bottom: 60px;
	  margin-top: 40px;
	}
}

.notActive{
	display: none; 
}

.active{
	display: block; 
}

@media (min-width: 1200px) and (max-width: 1600px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
   .ironMan .ironContent{
		margin-top: 0px;
		margin-right: -10px;
		text-align: center;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
   .ironMan .container .ironManImg{
		margin-left: 0px;
		margin-top: 67px;
	}

   .logo{
   		text-align: center;
   }

   .ironMan .ironContent{
		margin-top: 0px;
		margin-right: 0px;
		text-align: center;
	}

	.ironBtn{
		text-align: center;
	}

	.ironTitleOrange{
		text-align: center;
	}

	.ironTitle{
		text-align: center;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.ironMan .container .ironManImg{
		margin-left: 0px;
		margin-top: 67px;
	}

   .logo{
   		text-align: center;
   }

   .ironMan .ironContent{
		margin-top: 0px;
		margin-right: 0px;
		text-align: center;
	}

	.ironBtn{
		text-align: center;
	}

	.ironMan .container .ironTitleOrange{
		font-size: 50px;
		text-align: center;
	}

	.ironMan .container .ironTitle{
		font-size: 40px;
		text-align: center;
	}

	.ironMan .menu ul .mainButton{
		margin-right: 0px;
		text-align: center;
	} 

	.ironMan .ironBlock {
    	margin-bottom: -300px;
	}

	.menu ul li{
		clear:  both;
	}

	.navLink{
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}
}